body{background-size:cover; background-position:center}
.heading
{box-shadow: 15px 15px 15px plum;
font-size: 30px;
width: 100%;
margin: 0px;
}
canvas{margin-top:50px;border:3px solid slateblue; box-shadow: 15px 15px 15px cyan; border-radius: 10px}

#status
{
font-size: 18px;
}

